{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pickupinfo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pickupInfo.id }}</td>
            </tr>
            <tr>
                <th>String</th>
                <td>{{ pickupInfo.string }}</td>
            </tr>
            <tr>
                <th>Dayofweek</th>
                <td>{{ pickupInfo.dayOfWeek }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pickupinfo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pickupinfo_edit', { 'id': pickupInfo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
