{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contactsearches list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Searchquery</th>
                <th>Results</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contactSearch in contactSearches %}
            <tr>
                <td><a href="{{ path('contactsearch_show', { 'id': contactSearch.id }) }}">{{ contactSearch.id }}</a></td>
                <td>{{ contactSearch.searchQuery }}</td>
                <td>{{ contactSearch.results }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contactsearch_show', { 'id': contactSearch.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
