{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Container {{container.containerSerial}}</h1>
    {% form_theme edit_form 'form_table_layout.html.twig'  %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Save" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('container_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
