{% extends 'base.html.twig' %}

{% block title %}Edit Container | M.U.R.R.{% endblock %}

{% block javascripts %}
{# include jQuery to make the search script work #}
{#<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}    
{# include the PropertySearchPopup javascript and the select2 file #}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />#}
<link href="../../../../css/ContainerAddEditFormStyles.css" rel="stylesheet" />
<script type="text/javascript" src="{{ asset('JavaScript/PropertySearchPopupSemantic.js') }}" class="popupjs" data-path="{{ path('property_search', { 'isPopup': "true" }) }}"></script>
<script src="{{ asset("JavaScript/RemoveModal.js") }}"></script>
{#<script type="text/javascript" src="{{ asset('JavaScript/ContainerEditForm.js') }}"></script>#}
<script>
    // Function for when the unlock button is pressed
    function unlock() {
        $('#appbundle_container_containerSerial').prop('readonly', false);
        document.getElementById("btnUnlock").disabled = true;
    };

    $(function () {

        var onLoad = function () {
            $('#appbundle_container_containerSerial').prop('readonly', true);
            console.log(document.getElementById("appbundle_container_property"));


        };

		initialize('#appbundle_container_property');

        addModal();

        $(onLoad);

        

		$('.removeButton').click(function () {

            //gets the form for the remove button to submit
            deleteForm = $("#appbundle_removeContainer");

            showModal(deleteForm.data('message'), deleteForm);
		});

        $('.ui.search.dropdown').dropdown();
	});
</script>
{% endblock %}


{% block body %}
<div class=" ui text container">
    <h2 class="ui header left attached top">Edit Container{% if not invalid_id_error %} {{container.containerSerial}}{% endif %}</h2>
    
{% if invalid_id_error %}
    <h2>Container does not exist</h2>
{% else %}

	<div class="ui form column bottom attached segment">
	    {{ form_start(edit_form) }}
		<table>
			{#{{ form_errors(edit_form) }}#}
			{#{{ form_errors(edit_form.property) }}#}
			<tbody>
                <tr>
                    <td class="required field">
                        {{ form_label(edit_form.containerSerial) }}
                        <div class="inline fields">
					        {{ form_widget(edit_form.containerSerial) }}
							<button type="button" value="Unlock" class="ui icon button" id="btnUnlock" onclick="unlock()">Unlock<i class="ui icon unlock alternate" id="unlockIcon"></i></button>
							{{ form_errors(edit_form.containerSerial) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="required field">
                        {{ form_label(edit_form.type) }}
                        <div>
					        {{ form_widget(edit_form.type) }}
							{{ form_errors(edit_form.type) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="required field">
                        {{ form_label(edit_form.size) }}
                        <div>
					        {{ form_widget(edit_form.size) }}
							{{ form_errors(edit_form.size) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(edit_form.augmentation) }}
                        <div>
					        {{ form_widget(edit_form.augmentation) }}
							{{ form_errors(edit_form.augmentation) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="required field">
                        {{ form_label(edit_form.status) }}
                        <div>
					        {{ form_widget(edit_form.status) }}
							{{ form_errors(edit_form.status) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(edit_form.reasonForStatus) }}
                        <div>
					        {{ form_widget(edit_form.reasonForStatus) }}
							{{ form_errors(edit_form.reasonForStatus) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="required field">
                        {{ form_label(edit_form.frequency) }}
                        <div>
					        {{ form_widget(edit_form.frequency) }}
							{{ form_errors(edit_form.frequency) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(edit_form.locationDesc) }}
                        <div>
					        {{ form_widget(edit_form.locationDesc) }}
							{{ form_errors(edit_form.locationDesc) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(edit_form.lon) }}
                        <div>
					        {{ form_widget(edit_form.lon) }}
							{{ form_errors(edit_form.lon) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(edit_form.lat) }}
                        <div>
					        {{ form_widget(edit_form.lat) }}
							{{ form_errors(edit_form.lat) }}
                        </div>
                    </td>
                </tr>
                <tr>
					<td>
                        {{ form_label(edit_form.property) }}
                        <div class="inline fields">
							{{ form_widget(edit_form.property) }}
							{{ form_errors(edit_form.property) }}
							<input class='ui button' id='advanced_property_search_popup' value='Advanced Search' type='button'/>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
       
        <div class="ui buttons">
            <a href="{{ path('container_show',{'id' : container.id}) }}"class="ui button" id="btnSearch cancelButton">Cancel</a>

			    <button type="button" class="ui google plus button removeButton" id="btnDelete">Delete</button>
		    <input type="submit" value="Save" class="ui green button" id="btnSave" />

        </div>
        <input type="hidden" name="container" value="{{container.id}}"/>
        {{ form_end(edit_form) }}
         <form id="appbundle_removeContainer" name="appbundle_removeContainer" method="post" action="{{path('container_delete', {'id': container.id})}}" data-message="Are you sure you want to remove container {{container}}?"></form>
        
    </div>
</div>
{% endif %}
{% endblock %}
