{% extends 'base.html.twig' %}

{% block body %}
    <h1>Containers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Frequency</th>
                <th>Container Serial</th>
                <th>Location Desc</th>
                <th>Long</th>
                <th>Lat</th>
                <th>Type</th>
                <th>Size</th>
                <th>Status</th>
                <th>reason For Status</th>
                <th>Property</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for container in containers %}
            <tr>
                <td><a href="{{ path('container_show', { 'id': container.id }) }}">{{ container.id }}</a></td>
                <td>{{ container.frequency }}</td>
                <td>{{ container.containerSerial }}</td>
                <td>{{ container.locationDesc }}</td>
                <td>{{ container.long }}</td>
                <td>{{ container.lat }}</td>
                <td>{{ container.type }}</td>
                <td>{{ container.size }}</td>
                <td>{{ container.status}}</td>
                {#<td>{{container.property}}</td>#}
                <td>{{ container.reasonForStatus }}</td>
                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('container_show', { 'id': container.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('container_edit', { 'id': container.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('container_new') }}">Create a new container</a>
        </li>
    </ul>
{% endblock %}
