{% extends 'base.html.twig' %}

{% block body %}
    <h1>Containers list</h1>

    <a class="ui button" href="{{ path('container_search')}}">Container Search</a>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Container Serial</th>
                <th>Frequency</th>
                <th>Property</th>
                <th>Location Desc</th>
                <th>Long</th>
                <th>Lat</th>
                <th>Type</th>
                <th>Size</th>
				<th>Augmentation</th>
                <th>Status</th>
				<th>Reason For Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for container in containers %}
            <tr>
                <td>{{ container.containerSerial }}</td>
                <td>{{ container.frequency }}</td>
                <td>{{container.property}}</td>
                <td>{{ container.locationDesc }}</td>
                <td>{{ container.lon }}</td>
                <td>{{ container.lat }}</td>
                <td>{{ container.type }}</td>
                <td>{{ container.size }}</td>
                <td>{{ container.augmentation }}</td>
                <td>{{ container.status}}</td>
                <td>{{ container.reasonForStatus }}</td>
                
                <!-- Lists should be done similar to this. Regular lists make the site look bad on mobile -->
                <td>
                    <div class="ui bulleted list">
                    <a class="item" href="{{ path('container_show', { 'id': container.id }) }}">show</a>
                    <a class="item" href="{{ path('container_edit', { 'id': container.id }) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="ui button" href="{{ path('container_new') }}">Create a new container</a>
{% endblock %}
