{% extends 'base.html.twig' %}

{% block title %}Container Search | M.U.R.R.{% endblock %}

{% block javascripts %}
{# include Knockout to make the search script works #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    
{# include the search javasript #}
<script type="text/javascript" src="{{ asset('JavaScript/Search.js') }}"></script>
{% endblock %}

{% block body %}
{# magic invisible div that allows us to pass information to the search script #}
<div class="js-jsonpage" data-jsonpage="{{ path('container_jsonsearch_empty') }}"></div>
<div class="js-isPopup" data-ispopup="{{isPopup}}"></div>
<h2>Container Search <a href="{{ path('container_new') }}" class="ui icon button green" id="newContainer"><i class="plus icon"></i></a></h2>

<div class="ui search" id="containerSearch">
    <input type="text" id="searchBox" class="prompt" maxlength="100" placeholder="Search..." />
    <i class="times circle icon" id="btnClear"></i>
    <div class="results"></div>
</div>

<div id="message"></div>
<table hidden class="ui selectable celled table">
    <thead>
        <tr>
            <th>Serial</th>
            <th>Frequency</th>
            <th>Address</th>
            <th>Location</th>
            <th>Type</th>
            <th>Size</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: results">
        <tr data-bind="attr:{'data-id': id}">
            <td data-bind="text: containerSerial"></td>
            <td data-bind="text: frequency"></td>
            <td data-bind="text: propertyToString"></td>
            <td data-bind="text: locationDesc"></td>
            <td data-bind="text: type"></td>
            <td data-bind="text: size"></td>
            <td data-bind="text: status"></td>
            {#{%if isPopup%}
            <td><a href="#" class="popupSelectButton" data-bind="attr: {'data-id': id}">Select</a></td>
            {% else %}
            <td><a data-bind="attr: {href: '{{ viewURL }}' + id}">View</a></td>
            {% endif %}#}
        </tr>
    </tbody>
</table>
{% endblock %}