{% extends 'base.html.twig' %}

{% block title %}Container View{% endblock %}

{# Include javascript for delete modal #}
{% block javascripts %}
<script src="{{ asset("JavaScript/DeleteModal.js") }}"></script>
{% endblock %}

{% block body %}
<style>
    th{ text-align:left; }
</style>

    <h1>Container</h1>
    
{% if invalid_id_error %}
    <h2>Container does not exist</h2>
{% else %}


    <table>
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ container.id }}</td>
            </tr>
            <tr>
                <th>Frequency:</th>
                <td>{{ container.frequency }}</td>
            </tr>
            <tr>
                <th>Container Serial:</th>
                <td>{{ container.containerSerial }}</td>
            </tr>
            <tr>
                <th>Location Description:</th>
                <td>{{ container.locationDesc }}</td>
            </tr>
            <tr>
                <th>Longitude:</th>
                <td>{{ container.lon }}</td>
            </tr>
            <tr>
                <th>Latitude:</th>
                <td>{{ container.lat }}</td>
            </tr>
            <tr>
                <th>Type:</th>
                <td>{{ container.type }}</td>
            </tr>
            <tr>
                <th>Size:</th>
                <td>{{ container.size }}</td>
            </tr>
            <tr>
                <th>Augmentation:</th>
                <td>{{ container.augmentation }}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td>{{ container.status }}</td>
            </tr>
            <tr>
                <th>Reason for status:</th>
                <td>{{ container.reasonForStatus }}</td>
            </tr>
            <tr>
                <th>Property:</th>
                <td>{{ container.property }}</td>
            </tr>
            <tr>
                <th>Structure:</th>
                <td>{{ container.structure }}</td>
            </tr>
        </tbody>
    </table>

{% endif %}

<a href="{{ path('container_index') }}" class="ui button">Back to the list</a>
<a href="{{ path('container_edit', { 'id': container.id }) }}" class="ui button">Edit</a>
<button class="ui button" id="delete">Delete</button>

{# Modal for the delete confirmation #}
<div class="ui basic modal delete">
    <div class="header">
        Delete Container
    </div>
    <div class="content">
        <p>Are you sure you want to delete container: {{ container.containerSerial }}?</p>
    </div>
    <div class="actions">
        <div class="ui white button basic inverted">
            Cancel
        </div>
        <div class="ui red right labeled icon button basic inverted">
            Delete
            <i class="checkmark icon"></i>
            {{ form_start(delete_form) }}
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>

{% endblock %}
