{% extends 'base.html.twig' %}

{% block title %}View Container | M.U.R.R.{% endblock %}

{# Include javascript for delete modal #}
{% block javascripts %}

<script src="{{ asset("JavaScript/RemoveModal.js") }}"></script>
<script>
	$(function () {
		//initialize('#appbundle_container_property');

		addModal();

		$('.removeButton').click(function () {
			var parent = $($(this).parent().get(0));

			console.log(parent);

			showModal(parent.data('message'), parent);
		});
	});
</script>
{% endblock %}

{% block body %}
<style>
    th{ text-align:left; }
</style>

<div class="column contentSection">
    <h2 class="ui header left attached top">View Container</h2>
    
{% if invalid_id_error %}
    <h2>Container does not exist</h2>
{% else %}

    <div class="ui bottom attached segment">
        <table>
            <tbody>
			    <tr>
                    <th>Container Serial:</th>
                    <td>{{ container.containerSerial }}</td>
                </tr>
			    <tr>
                    <th>Type:</th>
                    <td>{{ container.type }}</td>
                </tr>
                <tr>
                    <th>Size:</th>
                    <td>{{ container.size }}</td>
                </tr>
			    <tr>
                    <th>Augmentation:</th>
                    <td>{{ container.augmentation }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>{{ container.status }}</td>
                </tr>
			    <tr>
                    <th>Reason for status:</th>
                    <td>{{ container.reasonForStatus }}</td>
                </tr>
                <tr>
                    <th>Frequency:</th>
                    <td>{{ container.frequency }}</td>
                </tr>
                <tr>
                    <th>Location Description:</th>
                    <td>{{ container.locationDesc }}</td>
                </tr>
                <tr>
                    <th>Longitude:</th>
                    <td>{{ container.lon }}</td>
                </tr>
                <tr>
                    <th>Latitude:</th>
                    <td>{{ container.lat }}</td>
                </tr>
                <tr>
                    <th>Property:</th>
                    <td>{{ container.property }}</td>
                </tr>
            </tbody>
        </table>

        <div class="ui buttons">
            <a class="ui labeled icon button" href="{{ path("container_search") }}" id="backButton"><i class="reply icon"></i>Back to Search</a>
            <a href="{{ path('container_edit', { 'id': container.id }) }}" class="ui blue button" id="btnEdit">Edit</a>

	        <form name="appbundle_removeContainer" method="post" action="{{path('container_delete', {'id': container.id})}}" data-message="Are you sure you want to remove container {{container}}?">
		        <input type="hidden" name="container" value="{{container.id}}"/>
		        <button type="button" class="ui google plus button removeButton" id="btnDelete">Delete</button>
	        </form>
        </div>
    </div>


</div>
{% endif %}

{% endblock %}
