{% extends 'base.html.twig' %}

{% block body %}
    <h1>Container</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ container.id }}</td>
            </tr>
            <tr>
                <th>Frequency</th>
                <td>{{ container.frequency }}</td>
            </tr>
            <tr>
                <th>Container Serial</th>
                <td>{{ container.containerSerial }}</td>
            </tr>
            <tr>
                <th>Locationdesc</th>
                <td>{{ container.locationDesc }}</td>
            </tr>
            <tr>
                <th>Long</th>
                <td>{{ container.long }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ container.lat }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ container.type }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ container.size }}</td>
            </tr>
            <tr>
                <th>Augmentation</th>
                <td>{{ container.augmentation }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ container.status }}</td>
            </tr>
            <tr>
                <th>Reason for status</th>
                <td>{{ container.reasonForStatus }}</td>
            </tr>
            <tr>
                <th>Property</th>
                <td>{{ container.property }}</td>
            </tr>


        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('container_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('container_edit', { 'id': container.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
