{#S40C#}
{% extends 'base.html.twig' %}
{% if (template is not defined) %}{% set template = false %}{% endif %}

{% block title %}Add Route {% if template is defined %}Template {% endif %}| M.U.R.R.{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/util_twig.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}  

{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<!-- Link in custom script that uses the delete prompts-->
<script type="text/javascript" src="{{ asset('JavaScript/RemoveModal.js') }}"></script>

{#<div class="js-jsonpage" data-jsonpage="{{ path('property_jsonsearch_empty') }}"></div>
<div class="js-inittrucks" data-inittrucks="{{inittrucks}}"></div>#}

{# include the filter javasript #}
<script type="text/javascript" src="{{ asset('JavaScript/RouteManagerUtils.js') }}"></script>
{% endblock %}

{% block body %}
<div class="ui text container">
    {% if invalid_id_error is defined %}
        {% if invalid_id_error %}
            <h2>Route does not exist</h2>
        {% endif %}
    {% else %}
        {% set invalid_id_error = false %}
    {% endif %}



    <a class="ui top attached labeled icon button" style="text-align: inherit;font-size: initial;" href="{{ path("route_search") }}">
        <i class="reply icon"></i>Back to Search
    </a>
        {#<button class="ui right labeled icon button red">Delete <i class="close icon"></i></button>#}

    <div class="ui attached clearing segment" style="padding-bottom: 0;">
        <h1 class="ui left floated header">
            Route{% if template == true %} Template "{% else %}: {% endif %}{{route.routeId}}{% if template == true %}"{% endif %}
        </h1>
        <h1 class="ui right floated header">
        {% if template == true %}
            <div class="sub header">Last Modified:</div>
        {% else %}
            <div class="sub header">Start Date:{% if route.startDate is not empty %} {{ route.startDate|date('M d, Y') }}{% else %} Not Started{% endif %}</div>
            <div class="sub header">End Date:{% if route.endDate is not empty %} {{ route.endDate|date('M d, Y') }}{% else %} Not Completed{% endif %}</div>
        {% endif %} 
        </h1>        
    </div>

    <div id="routeContents" class="ui bottom attached segment">
        {% if (( template == true ) or ( invalid_id_error == false ))%}
            <div class="column containerAdd">
                <h2 class="ui header left attached top">Add Container Pickup{#{% if template == true %} Template{%else%} Route{%endif%}#}</h2>
		        <div class="ui bottom attached segment">
			        {{ form_start(pickupform) }}
			        {{ form_errors(pickupform) }}
			        <table>
				        <tbody>
					        <tr>
						        {{ form_errors(pickupform.container) }}
						        <td>
							        <div class="inline fields">
								        {{ form_label(pickupform.container)  }}
								        {{ form_widget(pickupform.container) }}
							        </div>
						        </td>

						        {{ form_errors(pickupform.pickupOrder) }}
						        <td>
							        <div class="inline fields">
								        {{ form_label(pickupform.pickupOrder)  }}
								        {{ form_widget(pickupform.pickupOrder) }}						    
							        </div>
						        </td>

						        <td>
							        <div class="inline buttons">
                                        <input type="submit" value="Add" class="ui green button" id="btnSave" />
                                    </div>
						        </td>
					        </tr>
				        </tbody>
			        </table>
			        {{ form_end(pickupform) }}
		        </div>
            </div>
			{% if route.pickups is not empty %}
			<div class="column containerList">
				<h3 class="ui header left attached top">Route {% if template == true %}Template {% endif %}Pickups </h3>
				<table id="route_pickups" class="route_pickups ui bottom attached segment celled table">
					<thead>
						<tr>
							<th>Pickup Order</th>
							<th>Container Serial</th>
							<th>Property</th>
							{#<th>Truck</th>#}
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						{% for rp in route.pickups %}
							<tr>
								<td>{{ rp.pickupOrder }}</td>
								<td>{{ rp.container.containerSerial }}</td>
								<td>{{ rp.container.property }}</td>
								{#<td>{% if rp.truck.truckId is defined %}{{ rp.truck.truckId }}{% endif %}</td>#}
								<td>
									<form id="rmf{{rp.id}}" name="appbundle_removeContainer" data-id="{{rp.id}}" method="post" action="{{ path('route_pickup_removal', { 'id': rp.id })}}" data-message="Are you sure you want to remove Container '{{rp.container.containerSerial}}'">
										<button id="rmb{{rp.id}}" type="button" class="ui icon button rmb removeButton red">
											<i class="close icon"></i>
										</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}
