{% extends 'base.html.twig' %}

{% block title %}Route Management{% endblock %}

{% block body %}

<h2>Route {% if not invalid_id_error %}{{ route.routeId }}{% endif %}</h2>

<div>
    {#{% if propertyId == "not_specified"%}
    <h2>No property specified</h2>
    {% elseif property is empty %}
    <h2>The specified property could not be found</h2>
    {% else %}#}

    {% if invalid_id_error %}
    <h2>Route does not exist</h2>
    {% else %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <table>
        <thead>
            <tr>
                <th>Pickup Order</th>
                <th>Container Serial</th>
                <th>Property</th>
            </tr>
        </thead>
        <tbody>
            {% for rp in route.pickups %}
                <tr>
                    <td>{{ rp.pickupOrder }}</td>
                    <td>{{ rp.container.containerSerial }}</td>
                    <td> {{ rp.container.property }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
