{% extends 'base.html.twig' %}

{% block title %}Route Search{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/route_and_template_search.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}    

{% block javascripts %}
{# include Knockout to make the search script works #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    
{# include the search javasript #}
<script type="text/javascript" src="{{ asset('JavaScript/Search.js') }}"></script>
<script type="text/javascript" src="{{ asset('JavaScript/RouteAndTemplateSearch.js') }}"></script>
<script type="text/javascript" src="{{ asset('JavaScript/BurnUtils.js') }}"></script>
{% endblock %}

{% block body %}
{# magic invisible div that allows us to pass information to the search script #}
<div class="js-jsonpage" data-jsonpage="{{ path('route_jsonsearch_empty') }}"></div>
<div class="js-isPopup" data-ispopup="{{isPopup}}"></div>

<h2>Route Search<a name="New" class="ui icon button green add" id="newRouteOptions"><i class="plus icon"></i></a></h2>
<div class="ui search">
    <input type="text" id="searchBox" class="prompt" maxlength="100" placeholder="Search..." />
    <i class="times circle icon" id="btnClear"></i>
    <div class="results"></div>
</div>

<div class="ui rtResults">
    <div class="ui menu top attached tabular">
        <a class="active item" data-tab="routes">Routes</a>
        <a class="item" data-tab="templates">Templates</a>
    </div>
    <div class="ui tab bottom attached segment" data-tab="routes">
        {#<div class="ui active centered inline loader tblSpinner"></div>#}
        <div class="routeResults">
			<div class="message"></div>
            <table hidden class="ui selectable celled table">
                <thead>
                    <tr>
                        <th>Route ID</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: results">
                    <tr data-bind="if: template == 0, attr:{'data-id': id}">
                        <td data-bind="text: routeId"></td>
                        <td data-bind="text: startDate"></td>
                        <td data-bind="text: endDate"></td>
                        {#{%if isPopup%}
                        <td><a href="#" class="popupSelectButton" data-bind="attr: {'data-id': id}">Select</a></td>
                        {% else %}
                        <td><a data-bind="attr: {href: '{{ viewURL }}' + id}">View</a></td>
                        {% endif %}#}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui tab bottom attached segment" data-tab="templates">
        <div class="templateResults">
			<div class="message"></div>
            <table hidden class="ui selectable celled table">
                <thead>
                    <tr>
                        <th>Template Name</th>
                        {#<th>Start Date</th>
                        <th>End Date</th>#}
                    </tr>
                </thead>
                <tbody data-bind="foreach: results">
                    <tr data-bind="if: template == 1, attr:{'data-id': id}">
                        <td data-bind="text: routeId"></td>
                        {#<td data-bind="text: startDate"></td>
                        <td data-bind="text: endDate"></td>#}
                        {#{%if isPopup%}
                        <td><a href="#" class="popupSelectButton" data-bind="attr: {'data-id': id}">Select</a></td>
                        {% else %}
                        <td><a data-bind="attr: {href: '{{ viewURL }}' + id}">View</a></td>
                        {% endif %}#}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="addRouteModal">
{{ include('route/newOptions.html.twig',{modalmode:null}) }}
</div>

{% endblock %}