{% extends 'base.html.twig' %}
{% block javascripts %} 
{# include the PropertySearchPopupSemantic  #}
<link href="../../../../css/ContainerAddEditFormStyles.css" rel="stylesheet" />
<script src="{{ asset("JavaScript/RemoveModal.js") }}"></script>
<script type="text/javascript" src="{{ asset('JavaScript/PropertySearchPopupSemantic.js') }}" class="popupjs" data-path="{{ path('property_search', { 'isPopup': "true" }) }}"></script>
<script>
    $(function ()
    {
        var propertySelect = $("#appbundle_communication_property")
        $(".ui.search.dropdown").parent().after("<div class='field'><input class='ui button' id='advanced_property_search_popup' value='Advanced Search' type='button'/></div>");
        initialize(propertySelect);
    });
</script>
<script>
	$(function () {
		
		addModal();

		$('.removeButton').click(function () {
			var parent = $($(this).parent().get(0));

			console.log($(this).parent().get(0));

			showModal(parent.data('message'), parent);
		});
	});
</script>
{% endblock %}
{% block body %}
    <div id="wrapper">
        <h2 class="ui header left attached top">Edit Communication</h2>
        <div class="ui form bottom attached segment">
            {% if errorType == "notfound"%}
                <h2>The specified communication ID could not be found</h2>
            {% else %}
        

                    {{ form_start(form, {'action' : '#' }) }}
                    {{ form_widget(form) }}
			
		            {#<div class="field">#}
				        <a href="{{ path('communication_view', { 'comId': communicationId }) }}" class="ui button" id="btnSearch">Cancel</a>
				        <button type="submit" id="btnSave" name="communication[add]" class="ui button">Save</button>

                        

			        {#</div>#}
                    {{ form_end(form) }}

                    <form name="appbundle_removeCommunication" method="post" action="{{path('communication_delete', {'id': communication.id })}}" data-message="Are you sure you want to remove Communication {{communication.date}}?">
		                    <input type="hidden" name="communication" value="{{communication.id}}"/>
		                    <button type="button" class="ui button removeButton" id="btnDelete">Delete</button>
	                 </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
