{% extends 'base.html.twig' %}
{% block javascripts %} 
{% block title %}Edit Commununication | M.U.R.R.{% endblock %}

{# include the PropertySearchPopupSemantic  #}
{#<script type="text/javascript" src="{{ asset('JavaScript/PropertySearchPopupSemantic.js') }}" class="popupjs" data-path="{{ path('property_search', { 'isPopup': "true" }) }}"></script>#}
{# include Knockout to make the search script works #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    
{# include the search javasript #}
<script type="text/javascript" src="{{ asset('JavaScript/Search.js') }}"></script>
<script>
    function propertyModalShow() {
		$('#propertyModal').modal('show');
	}

    $(function ()
    {
        var searchSelectBox = $('#appbundle_communication_property');
        $(".ui.search.dropdown").parent().after("<div class='field'><input class='ui button' id='advanced_property_search_popup' value='Advanced Search' type='button' onclick='propertyModalShow()'/></div>");
    });
</script>
{% endblock %}
{% block body %}
{# magic invisible div that allows us to pass information to the search script #}
<div class="js-jsonpage" data-jsonpage="{{ path('property_jsonsearch_empty') }}"></div>
    <div id="wrapper" class="ui text container">
        <h2 class="ui header left attached top">Edit Communication</h2>
        <div class="ui bottom attached segment">
            {% if errorType == "notfound"%}
                <h2>The specified communication ID could not be found</h2>
            {% else %}
        

                    {{ form_start(form, {'action' : '#' }) }}
                    {{ form_widget(form) }}
			
		            <div class="field">
                        <div class="ui buttons">
				            <a href="{{ path('communication_view', { 'comId': communicationId }) }}" class="ui button" id="cancelButton">Cancel</a>
				            <button type="submit" id="communication_add" name="communication[add]" class="ui green button">Save</button>
			            </div>
                    </div>
                    {{ form_end(form) }}


            {% endif %}
        </div>
    </div>

    <div class="ui basic modal" id="propertyModal">
		<div class="header">Property Search</div>
		<div class="ui search" {#id="propertySearch"#}>
			<input type="text" id="searchBox" class="prompt" maxlength="100" placeholder="Search..." />
			<i class="times circle icon" id="btnClear"></i>
			<div class="results"></div>
		</div>
		<div id="message"></div>
		<table hidden class="ui selectable celled table">
			<thead>
				<tr>
					<th>Site ID</th>
					<th>Property</th>
					<th>Type</th>
					<th>Status</th>
					<th>Structure Id</th>
					<th>Units</th>
					<th>Neighbourhood</th>
					{#<th>Address??</th>#}
				</tr>
			</thead>
			<tbody data-bind="foreach: results" id="searchTable">
				<tr data-bind="attr:{'data-id': id}" class="propertySearchTableResults">
					<td data-bind="text: siteId"></td>
					<td data-bind="text: propertyName"></td>
					<td data-bind="text: propertyType"></td>
					<td data-bind="text: propertyStatus"></td>
					<td data-bind="text: structureId"></td>
					<td data-bind="text: numUnits"></td>
					<td data-bind="text: neighbourhoodName"></td>
				</tr>
			</tbody>
		</table>
        <button class="ui icon button" onclick="$('#propertyModal').modal('hide')"><i class="close icon"></i>Cancel</button>
	</div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
