{% extends 'base.html.twig' %}
{% block javascripts %}
{% block title %}Add Commununication | M.U.R.R.{% endblock %}
<script type="text/javascript" src="{{ asset('JavaScript/PropertySearchPopupSemantic.js') }}" class="popupjs" data-path="{{ path('property_search', { 'isPopup': "true" }) }}"></script>
<script>
    $(function ()
    {
        var propertySelect = $("#appbundle_communication_property")
        $(".ui.search.dropdown").parent().after("<div class='field'><input class='ui button' id='advanced_property_search_popup' value='Advanced Search' type='button'/></div>");
        initialize(propertySelect);
    });
</script>
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div class="ui text container">
            <h2 class="ui header left attached top">Add Communication</h2>
            <div class="ui bottom attached segment">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="ui buttons">
                    <a class="ui button" href="{{ path("communication_search") }}" id="cancelButton">Cancel</a>
			        <button type="submit" id="communication_add" name="communication[add]" class="ui green button">Add</button>
                </div>
                {{ form_end(form) }}

                {% if added is defined and added %}
                    Communication added successfully
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
