{% extends 'base.html.twig' %}

{% block title %}View Commununication | M.U.R.R.{% endblock %}

{% block javascripts %}
<script src="{{ asset("JavaScript/RemoveModal.js") }}"></script>
<script>
	$(function () {
		addModal();

		$('.removeButton').click(function () {
			var parent = $($(this).parent().get(0));

			console.log(parent);

			showModal(parent.data('message'), parent);
		});
	});
</script>
{% endblock %}

{% block body %}
<div class="column contentSection">
    <h2 class="ui header left attached top">View Communication</h2>

    <div class="ui bottom attached segment">
        {% if errorType == "notfound"%}
        <h2 >The specified communication ID could not be found</h2>
        {% elseif errorType == "noid" %}
        <h2>No communication ID specified</h2>
        {% else %}

        <table>
            <tr>
                <td>Date:</td>
                <td>{{comm.date}}</td>
            </tr>
            <tr>
                <td>Type:</td>
                <td>{{comm.type}}</td>
            </tr>
            <tr>
                <td>Medium:</td>
                <td>{{comm.medium}}</td>
            </tr>
            <tr>
                <td>Contact Name:</td>
                <td>{{comm.contactName}}</td>
            </tr>
            <tr>
                <td>Contact Email:</td>
                <td>{{comm.contactEmail}}</td>
            </tr>
            <tr>
                <td>Contact Phone:</td>
                <td>{{comm.contactPhone}}</td>
            </tr>
            <tr>
                <td>Property:</td>
                {% if comm.property != null %}
                <td>{{comm.property}}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Category:</td>
                <td>{{comm.category}}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{comm.description}}</td>
            </tr>
        </table>

        

        <div class="ui buttons">
		    <a class="ui labeled icon button" href="{{ path("communication_search") }}" id="backButton"><i class="reply icon"></i>Back to Search</a>
		    <a href="{{ path('communication_edit', { 'commId': comm.id }) }}" class="ui blue button">Edit</a>

            <form name="appbundle_removeCommunication" method="post" action="{{path('communication_delete', {'id': comm.id})}}" data-message="Are you sure you want to remove Communication {{comm}}?">
		        <input type="hidden" name="communication" value="{{comm.id}}"/>
		        <button type="button" class="ui google plus button removeButton" id="btnDelete">Delete</button>
	        </form>

        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
