{% extends 'base.html.twig' %}

{% block body %}
    <h1>Structure</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ structure.id }}</td>
            </tr>
            <tr>
                <th>Property</th>
                <td>{{ structure.property }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ structure.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('structure_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('structure_edit', { 'id': structure.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
