{% extends 'base.html.twig' %}

{% block body %}
    <h1>Truck edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
		<input onclick="window.location.href='{{ path('truck_manage') }}'" type="reset" value="Cancel" class="ui button" />
    {{ form_end(edit_form) }}

    <a href="{{ path('truck_manage') }}" class="ui button">Back to the list</a>
{% endblock %}
