{% extends 'base.html.twig' %}

{% block title %}Edit Truck | M.U.R.R.{% endblock %}

{% block body %}
	<div class="column truckEdit">
		<h2 class="ui header left attached top">Edit Truck: '{{truck.truckid}}'</h2>
		<div class="ui bottom attached segment">
        {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}

            {{ form_errors(edit_form.truckId) }}
			{{ form_label(edit_form.truckId)  }}
			{{ form_widget(edit_form.truckId) }}

            {{ form_errors(edit_form.type) }}
			{{ form_label(edit_form.type)  }}
			{{ form_widget(edit_form.type) }}

            <div class="ui buttons">
                <a href="{{ path('truck_util') }}" class="ui button">Cancel</a>
                {{ form_row(edit_form.Save) }}
            </div>
        {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
