{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trucks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Truckid</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for truck in trucks %}
            <tr>
                <td><a href="{{ path('truck_show', { 'id': truck.id }) }}">{{ truck.id }}</a></td>
                <td>{{ truck.truckId }}</td>
                <td>{{ truck.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('truck_show', { 'id': truck.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('truck_edit', { 'id': truck.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('truck_new') }}">Create a new truck</a>
        </li>
    </ul>
{% endblock %}
