{% extends 'base.html.twig' %}

{% block body %}
    <h1>Truck</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ truck.id }}</td>
            </tr>
            <tr>
                <th>Truckid</th>
                <td>{{ truck.truckId }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ truck.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('truck_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('truck_edit', { 'id': truck.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
