{% extends 'base.html.twig' %}
{% block title %}Trucks{% endblock %}

{% block javascripts %}
 {# include Knockout to make the search script works #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
 {# include tablesort for easy table sorting #}
<script type="text/javascript" src="https://semantic-ui.com/javascript/library/tablesort.js"></script>
<!-- Link in custom script that uses the delete prompts-->
<!--script type="text/javascript" src="{{ asset('JavaScript/DeletePrompt.js') }}"></script-->
<script type="text/javascript" src="{{ asset('JavaScript/RemoveModal.js') }}"></script>

<div class="js-jsonpage" data-jsonpage="{{ path('property_jsonsearch_empty') }}"></div>
<div class="js-inittrucks" data-inittrucks="{{inittrucks}}"></div>

{# include the filter javasript #}
<script type="text/javascript" src="{{ asset('JavaScript/Filter.js') }}"></script>

<script>
    $(function () {
        // initialize($('#appbundle_truck'));

        addModal();
        $('.removeButton').click(function () {
            //console.log($(this));
			var parent = $($(this).parent("form").get(0));
			//console.log(parent);
            showModal(parent.data('message'), parent);
		});

		$(".ui.dropdown").dropdown();
    });
</script>
{% endblock %}

{% block body %}

<style>
    form[name^="appbundle_truck"] div{
        display: inline-block;
        padding: 5px;
    }

    form[name^="appbundle_truck"]{
        display: inline-block;
    }

    td form{
        display:inline-block;
    }
    td .pencil{
        opacity: 1 !important; 
    }
</style>

<div>

    {{ form_start(form) }}
    <div>
        <h3>Add Truck:</h3>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}

	{{ form_start(filterform) }}
    <div>
        <h3>Filter List:</h3>
    </div>
    {{ form_widget(filterform) }}
    {{ form_end(filterform) }}

    <table id="filteredTruckList" class="trucks ui celled table">
        <thead>
            <tr>
                <!--<th>ID[HIDDEN]</th>-->
                <th style="width: 4vw;min-width: 88px;">Truck ID</th>
                <th style="width: 6vw;min-width: 121px;">Type</th>
				<th>Edit/Remove</th>
            </tr>
        </thead>
        <tbody id="filteredTruckListBody" data-bind="foreach: results">
            {# % for t in trucks % #}
                <tr>
                    <!--td data-bind="text:id">{{ formtruck.id }}</td>-->
                    <td data-bind="text:truckId, attr: {data: id}">{{ formtruck.truckId }}</td>
                    <td data-bind="text:type">{{ formtruck.type }}</td>
                    <td>
						<form name="appbundle_editTruck" method="post" data-bind="attr: {action: '{{ path('truck_edit') }}/'+id }">
                            <button type="submit" class="ui icon button" data-bind="attr: {id: 'rmb'+id}" ><i class="pencil alternate icon"></i></button>
						</form>
                        
                        <form name="appbundle_removeTruck" method="post" data-bind="attr: {action: '{{ path('truck_edit') }}/'+id, 'data-message': 'Are you sure you want to remove Truck \'\''+truckId+'\'\''}">
							<button type="button" class="ui icon button removeButton red" data-bind="attr: {id: 'rmb'+id}" ><i class="close icon"></i></button>
						</form>

						{# <!--
						<form method="post" data-bind="attr: {id: 'rmb'+id, action: '{{ path('truck_edit') }}/'+id}">
							<!-- Specify button type so it doesn't automatically submit-->
                            <!-- Button that prompts the message, rmb-->
							<button type="button" data-bind="attr: {id: 'rmb'+id}" class="rmdb">
                                <i class="fas fa-times red"></i>
                            </button>
							<!-- Span to hold the "Are you sure?" message-->
							<span data-bind="attr: {id: 'rmmsg'+id}" class="rmmsg">
                            </span>

							<!-- Accept button, rmba-->
                            <button type="submit" data-bind="attr: {id: 'rmba'+id}" class="rmba" hidden="hidden">
                                <i class="fas fa-check green"></i>
                            </button>
                            <!-- Cancel button, rmbc-->
                            <button type="button" data-bind="attr: {id: 'rmbc'+id}" class="rmbc" hidden="hidden">
                                <i class="close icon"></i><!--fas fa-times red-->
                            </button>
						</form>
						--> #}
					</td>
                </tr>
            {# % endfor % #}
        </tbody>
        <tbody id="listInfo" class="ui segment">
            <tr>
                <td id="listInfoContent" class="ui active" colspan="3" style="text-align: center"></td>
            </tr>
        </tbody>
    </table>

    <!-- This script is responsible for calling functions to handle the delete forms-->
    <script type="text/javascript">
    //Add all code that uses jquery into the window.onload because jquery is loaded at the bottom of the page (after loading base.html.twig)
    window.onload = function () {
        //set an event handler on the remove buttons that will call the custom method on the DeletePrompt.js Script
        $('.rmb').click(function (event) {
            clickedBtn = $(event.target);

            //if the i (changed to svg and path tags from font-awesome) tag inside the button was clicked, 
            //consider the button as clicked (because event.target sometimes gives you the i tag)
            //if the path was clicked these if statements will cascade up to the button tag
            if (clickedBtn.is('path')) clickedBtn = clickedBtn.parent();
            if (clickedBtn.is('svg')) clickedBtn = clickedBtn.parent();

            //get the ID that is stored in the form that this current button is in
            //This is the ID of the routePickup that was clicked
            id = clickedBtn.parent().attr('data-id');

            //call the prompt delete and pass in the necessary html things from the page
            promptDelete($("#rmmsg" + id), "Are you sure?", clickedBtn,
                $("#rmba" + id), $("#rmbc" + id));
        });

        //set an event handler on all the cancel buttons that will call the cancel prompt on the DeletePrompt.js script
        $('.rmbc').click(function (event) {
            clickedBtn = $(event.target);

            //if the i (changed to svg and path tags from font-awesome) tag inside the button was clicked, 
            //consider the button as clicked (because event.target sometimes gives you the i tag)
            //if the path was clicked these if statements will cascade up to the button tag
            if (clickedBtn.is('path')) clickedBtn = clickedBtn.parent();
            if (clickedBtn.is('svg')) clickedBtn = clickedBtn.parent();

            //get the stored ID from the form this button is in
            id = clickedBtn.parent().attr('data-id');

            //call the cancel prompt from the DeletePrompt.js script and pass in the necessery jquery objects
            cancelPrompt($("#rmmsg" + id), $('#rmb' + id), $('#rmba' + id), clickedBtn);
        });
    }
    </script>
</div>
{% endblock %}
