{% extends 'base.html.twig' %}
{% block title %}Trucks{% endblock %}

{% block javascripts %}
 {# include Knockout to make the search script works #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<!-- Link in custom script that uses the delete prompts-->
<!--script type="text/javascript" src="{{ asset('JavaScript/DeletePrompt.js') }}"></script-->
<script type="text/javascript" src="{{ asset('JavaScript/RemoveModal.js') }}"></script>

<div class="js-jsonpage" data-jsonpage="{{ path('property_jsonsearch_empty') }}"></div>
<div class="js-inittrucks" data-inittrucks="{{inittrucks}}"></div>

{# include the filter javasript #}
<script type="text/javascript" src="{{ asset('JavaScript/Filter.js') }}"></script>

{% endblock %}

{% block body %}

<style>


    td form{
        display:inline-block;
    }
    .wide_label_8
    {
        width:8vw;
    }
    td .pencil{
        opacity: 1 !important; 
    }
	#filteredTruckList
	{
		display:table-cell;
	}
	.ui.search
	{
		margin-bottom: 1rem;
	}
	.truckList, .truckAdd{
		width: max-content;
	}
	.truckAdd .inline.fields {
		margin-bottom: 0px !important;
	}

</style>

<div>
    <h2>Add-A-Truck:</h2>
    <div class="ui segment truckAdd">
        {{ form_start(add_truck_form) }}

        {{ form_errors(add_truck_form) }}
        <table>
			<tbody>
				<tr>
                    {{ form_errors(add_truck_form.truckId) }}
					<td>
						<div class="inline fields">
                            {{ form_label(add_truck_form.truckId)  }}
							{{ form_widget(add_truck_form.truckId) }}
						</div>
					</td>

                    {{ form_errors(add_truck_form.type) }}
					<td>
						<div class="inline fields">
                            {{ form_label(add_truck_form.type)  }}
							{{ form_widget(add_truck_form.type) }}						    
                        </div>
					</td>

					<td>
						<div class="inline fields">
							{{ form_row(add_truck_form.Add) }}
						</div>
					</td>
				</tr>
			</tbody>
		</table>

        {{ form_end(add_truck_form) }}
    </div>


	<div class="ui segment truckList">
		<h3 class="ui left header">Truck List</h3>
		<div class="ui search">
			<input type="text" id="truckFilterBox" class="prompt" maxlength="100" placeholder="Filter..." />
			<i class="times circle icon" id="btnClear"></i>
			<div class="results"></div>
		</div>
		<table id="filteredTruckList" class="trucks ui celled table">
			<thead>
				<tr>
					<!--<th>ID[HIDDEN]</th>-->
					<th style="width: 4vw;min-width: 88px;">Truck ID</th>
					<th style="width: 6vw;min-width: 121px;">Type</th>
					<th>Edit/Remove</th>
				</tr>
			</thead>
			<tbody id="filteredTruckListBody" data-bind="foreach: results">
				{# % for t in trucks % #}
					<tr>
						<!--td data-bind="text:id">{{ formtruck.id }}</td>-->
						<td class="truckID" data-bind="text:truckId, attr: {data: id}">{{ formtruck.truckId }}</td>
						<td data-bind="text:type">{{ formtruck.type }}</td>
						<td>
							<form name="appbundle_editTruck" method="post" data-bind="attr: {action: '{{ path('truck_edit') }}/'+id }">
								<button type="submit" class="ui icon button" data-bind="attr: {id: 'rmb'+id}" ><i class="pencil alternate icon"></i></button>
							</form>
                        
							<form name="appbundle_removeTruck" method="post" data-bind="attr: {action: '{{ path('truck_remove') }}/'+id, 'data-message': 'Are you sure you want to remove Truck \'\''+truckId+'\'\''}">
								<button type="button" class="ui icon button removeButton red" data-bind="attr: {id: 'rmb'+id}" ><i class="close icon"></i></button>
							</form>
						</td>
					</tr>
			</tbody>
			<tbody id="listInfo" class="ui segment">
				<tr>
					<td id="listInfoContent" class="ui active" colspan="3" style="text-align: center"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
