{% extends 'base.html.twig' %}
{% block title %}View Contact | M.U.R.R.{% endblock %}

{% block body %}
    <script src="{{ asset("JavaScript/RemoveModal.js") }}"></script>
    <script type="text/javascript" src="{{ asset('JavaScript/PropertySearchPopupSemantic.js') }}" class="popupjs" data-path="{{ path('property_search', { 'isPopup': "true" }) }}"></script>
    <script>
        $(function () {
            initialize($('#appbundle_propertyToContact_property'));

            addModal();
            $('.removeButton').click(function () {
                //console.log($(this));
				var parent = $($(this).parent("form").get(0));
				//console.log(parent);
                showModal(parent.data('message'), parent);
            });

            $('#deleteButton').click(function () {
                showModal("Are you sure you want to delete contact '{{contact.firstName}} {{contact.lastName}}'", $('#deleteForm'));
			});
        });
    </script>

	<style>
		.centerAlign{
			text-align: center !important;
		}
		
		.label[for="appbundle_propertyToContact_property"]{
			display: inline-block;
		}
	</style>
    
<div class="column contentSection">

    <h2 class="ui header left attached top">View Contact</h2>
    <div class="ui bottom attached segment">
        <table>
            <tbody>
                <tr>
                    <td>First Name:</td>
                    <td>{{ contact.firstName }}</td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td>{{ contact.lastName }}</td>
                </tr>
                <tr>
                    <td>Role:</td>
                    <td>{{ contact.role }}</td>
                </tr>
                <tr>
                    <td>Company Name:</td>
                    <td>{{ contact.companyName }}</td>
                </tr>
                <tr>
                    <td>Primary Phone:</td>
                    <td>{{ contact.primaryPhone }}</td>
                </tr>
                <tr>
                    <td>Phone Extension:</td>
                    <td>{{ contact.phoneExtension }}</td>
                </tr>
                <tr>
                    <td>Secondary Phone:</td>
                    <td>{{ contact.secondaryPhone }}</td>
                </tr>
                <tr>
                    <td>Email Address:</td>
                    <td>{{ contact.emailAddress }}</td>
                </tr>
                <tr>
                    <td>Fax:</td>
                    <td>{{ contact.fax }}</td>
                </tr>
                {% if contact.address is empty%}
                <tr>
                    <td>Street Address:</td>
                </tr>
                <tr>
                    <td>Postal Code:</td>
                </tr>
                <tr>
                    <td>City:</td>
                </tr>
                <tr>
                    <td>Province:</td>
                </tr>
                <tr>
                    <td>Country:</td>
                </tr>
                {%else%}
                <tr>
                    <td>Street Address:</td>
                    <td>{{contact.address.streetAddress}}</td>
                </tr>
                <tr>
                    <td>Postal Code:</td>
                    <td>{{contact.address.postalCode}}</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>{{contact.address.city}}</td>
                </tr>
                <tr>
                    <td>Province:</td>
                    <td>{{contact.address.province}}</td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>{{contact.address.country}}</td>
                </tr>
                {%endif%}
            </tbody>
        </table>
    <div class="ui buttons">
        <a class="ui labeled icon button" href="{{ path("contact_search") }}" id="backButton"><i class="reply icon"></i>Back to Search</a>
        <a class="ui blue button" href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a>
        <button id="deleteButton" type="button" class="ui google plus button">Delete</button>
    </div>
    {{ form_start(delete_form, {'attr': {'id': 'deleteForm'}}) }}
        
    {{ form_end(delete_form) }}
    </div>
</div>


    <h2>Property Roster</h2>

    <div class="ui segment">
	    {{ form_start(add_property_form) }}
	    {#{{ form_widget(add_property_form) }}#}
		<table>
			{{ form_errors(add_property_form) }}
			{{ form_errors(add_property_form.property) }}
			<tbody>
				<tr>
					
					<td>
						<div class="inline fields">
                            {{ form_label(add_property_form.property) }}
							{{ form_widget(add_property_form.property) }}
						</div>
					</td>
					<td>
						<div class="inline fields">
							<input class='ui button' id='advanced_property_search_popup' value='Advanced Search' type='button'/>
						</div>
					</td>
					<td>
						<div class="inline fields">
							{{ form_row(add_property_form.Add) }}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		{{ form_row(add_property_form.contact) }}
	    {{ form_end(add_property_form) }}
    </div>

    {% if contact.properties is empty %}
    <p>No associated properties</p>
    {% else %}

        <table class="ui selectable celled table" id="associatedProperties">
            <thead>
                <tr>
                    <th>Street Address</th>
                    <th>Property Name</th>
                    <th class="centerAlign">Site Id</th>
                    <th>Neighbourhood</th>
                    <th class="centerAlign"># of Units</th>
                    <th>Type</th>
                    <th class="centerAlign">Remove</th>
                </tr>
            </thead>
            {%for property in contact.properties%}
            <tr>
                <td onclick="window.location = '{{path('property_view', { 'propertyId': property.id })}}'">{{property.address.streetAddress}}</td>
                <td onclick="window.location = '{{path('property_view', { 'propertyId': property.id })}}'">{{property.propertyName}}</td>
                <td class="centerAlign" onclick="window.location = '{{path('property_view', { 'propertyId': property.id })}}'">{{property.siteId}}</td>
                <td onclick="window.location = '{{path('property_view', { 'propertyId': property.id })}}'">{{property.neighbourhoodName}}</td>
                <td class="centerAlign" onclick="window.location = '{{path('property_view', { 'propertyId': property.id })}}'">{{property.numUnits}}</td>
                <td onclick="window.location = '{{path('property_view', { 'propertyId': property.id })}}'">{{property.propertyType}}</td>
                <td class="centerAlign">
                    <form name="appbundle_removePropertyFromContact" method="post" action="{{path('remove_property_from_contact')}}" data-message="Are you sure you want to remove {{property.address.streetAddress}}?">
                        <input type="hidden" name="contact" value="{{contact.id}}"/>
                        <input type="hidden" name="property" value="{{property.id}}"/>
                        <button type="button" class="ui icon google plus button removeButton" id="rmb{{property.id}}"><i class="close icon"></i></button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    {%endif%}

{% endblock %}
