{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>

    <table>
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>First Name:</th>
                <td>{{ contact.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ contact.lastName }}</td>
            </tr>
            <tr>
                <th>Role:</th>
                <td>{{ contact.role }}</td>
            </tr>
            <tr>
                <th>Company Name:</th>
                <td>{{ contact.companyName }}</td>
            </tr>
            <tr>
                <th>Primary Phone:</th>
                <td>{{ contact.primaryPhone }}</td>
            </tr>
            <tr>
                <th>Phone Extension:</th>
                <td>{{ contact.phoneExtension }}</td>
            </tr>
            <tr>
                <th>Secondary Phone:</th>
                <td>{{ contact.secondaryPhone }}</td>
            </tr>
            <tr>
                <th>Email Address:</th>
                <td>{{ contact.emailAddress }}</td>
            </tr>
            <tr>
                <th>Fax:</th>
                <td>{{ contact.fax }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contact_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
