{% extends 'base.html.twig' %}

{% block body %}
    <h1>View Contact</h1>

    <table>
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>First Name:</th>
                <td>{{ contact.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ contact.lastName }}</td>
            </tr>
            <tr>
                <th>Role:</th>
                <td>{{ contact.role }}</td>
            </tr>
            <tr>
                <th>Company Name:</th>
                <td>{{ contact.companyName }}</td>
            </tr>
            <tr>
                <th>Primary Phone:</th>
                <td>{{ contact.primaryPhone }}</td>
            </tr>
            <tr>
                <th>Phone Extension:</th>
                <td>{{ contact.phoneExtension }}</td>
            </tr>
            <tr>
                <th>Secondary Phone:</th>
                <td>{{ contact.secondaryPhone }}</td>
            </tr>
            <tr>
                <th>Email Address:</th>
                <td>{{ contact.emailAddress }}</td>
            </tr>
            <tr>
                <th>Fax:</th>
                <td>{{ contact.fax }}</td>
            </tr>
            <tr>
                <td>Street Address:</td>
                <td>{{contact.address.streetAddress}}</td>
            </tr>
            <tr>
                <td>Postal Code:</td>
                <td>{{contact.address.postalCode}}</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>{{contact.address.city}}</td>
            </tr>
            <tr>
                <td>Province:</td>
                <td>{{contact.address.province}}</td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>{{contact.address.country}}</td>
            </tr>
        </tbody>
    </table>

    <h2>Property Roster</h2>

    {% if contact.properties is empty %}
    <h2>No associated properties</h2>
    {% else %}

        <table>
            <tr>
                <th>Site Id</th>
                <th>Street Address</th>
                <th>Neighbourhood</th>
                <th>Number of Units</th>
                <th>Type</th>
            </tr>
            {%for property in contact.properties%}
            <tr>
                <td>{{property.siteId}}</td>
                <td>{{property.address.streetAddress}}</td>
                <td>{{property.neighbourhoodName}}</td>
                <td>{{property.numUnits}}</td>
                <td>{{property.propertyType}}</td>
            </tr>
            {%endfor%}
        </table>
    {%endif%}
    <ul>
        <li>
            <a href="{{ path('contact_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
