{% extends 'base.html.twig' %}

{% block body %}
    <script src="{{ asset("JavaScript/RemoveModal.js") }}"></script>
    <script>
        $(function () {
            addModal();
            $('.removeButton').click(function () {
                console.log($(this));
                var parent = $(this).parent("form").get(0);
                console.log(parent);
                showModal(parent.attr('data-message'), parent);
            });
        });
    </script>

    <h1>View Contact</h1>

    <table>
        <tbody>
            <tr>
                <td>First Name:</td>
                <td>{{ contact.firstName }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ contact.lastName }}</td>
            </tr>
            <tr>
                <td>Role:</td>
                <td>{{ contact.role }}</td>
            </tr>
            <tr>
                <td>Company Name:</td>
                <td>{{ contact.companyName }}</td>
            </tr>
            <tr>
                <td>Primary Phone:</td>
                <td>{{ contact.primaryPhone }}</td>
            </tr>
            <tr>
                <td>Phone Extension:</td>
                <td>{{ contact.phoneExtension }}</td>
            </tr>
            <tr>
                <td>Secondary Phone:</td>
                <td>{{ contact.secondaryPhone }}</td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td>{{ contact.emailAddress }}</td>
            </tr>
            <tr>
                <td>Fax:</td>
                <td>{{ contact.fax }}</td>
            </tr>
            {% if contact.address is empty%}
            <tr>
                <td>Street Address:</td>
            </tr>
            <tr>
                <td>Postal Code:</td>
            </tr>
            <tr>
                <td>City:</td>
            </tr>
            <tr>
                <td>Province:</td>
            </tr>
            <tr>
                <td>Country:</td>
            </tr>
            {%else%}
            <tr>
                <td>Street Address:</td>
                <td>{{contact.address.streetAddress}}</td>
            </tr>
            <tr>
                <td>Postal Code:</td>
                <td>{{contact.address.postalCode}}</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>{{contact.address.city}}</td>
            </tr>
            <tr>
                <td>Province:</td>
                <td>{{contact.address.province}}</td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>{{contact.address.country}}</td>
            </tr>
            {%endif%}
        </tbody>
    </table>

    <h2>Property Roster</h2>

	{{ form_start(add_property_form, {'action': path('add_property_to_contact')}) }}
	{{ form_widget(add_property_form) }}
	{{ form_end(add_property_form) }}

    {% if contact.properties is empty %}
    <p>No associated properties</p>
    {% else %}

        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Site Id</th>
                    <th>Street Address</th>
                    <th>Neighbourhood</th>
                    <th>Number of Units</th>
                    <th>Type</th>
                    <th>Remove</th>
                </tr>
            </thead>
            {%for property in contact.properties%}
            <tr>
                <td>{{property.siteId}}</td>
                <td>{{property.address.streetAddress}}</td>
                <td>{{property.neighbourhoodName}}</td>
                <td>{{property.numUnits}}</td>
                <td>{{property.propertyType}}</td>
                <td>
                    <form name="appbundle_removePropertyFromContact" method="post" action="{{path('remove_property_from_contact')}}" data-message="Are you sure you want to remove {{property.address.streetAddress}}?">
                        <input type="hidden" name="contact" value="{{contact.id}}"/>
                        <input type="hidden" name="property" value="{{property.id}}"/>
                        <button type="button" class="ui icon button removeButton red" id="rmb{{property.id}}"><i class="close icon"></i></button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    {%endif%}
    <ul>
        <li>
            <a href="{{ path('contact_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
