{% extends 'base.html.twig' %}

{% block title %}View Contact{% endblock %}

{% block body %}

<h2>View Contact</h2>

<div>
    {% if contact is empty %}
    <h2>The specified contact could not be found</h2>
    {% else %}

    <table>
        <tr>
            <td>First Name:</td>
            <td>{{contact.firstName}}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{contact.lastName}}</td>
        </tr>
        <tr>
            <td>Organization:</td>
            <td>{{contact.organization}}</td>
        </tr>
        <tr>
            <td>Primary Phone:</td>
            <td>{{contact.primaryPhone}}</td>
        </tr>
        <tr>
            <td>Secondary Phone:</td>
            <td>{{contact.secondaryPhone}}</td>
        </tr>
        <tr>
            <td>Phone Extension:</td>
            <td>{{contact.phoneExtension}}</td>
        </tr>
        <tr>
            <td>Email Address:</td>
            <td>{{contact.emailAddress}}</td>
        </tr>
        <tr>
            <td>Fax:</td>
            <td>{{contact.fax}}</td>
        </tr>
        <tr>
            <td>Street Address:</td>
            <td>{{contact.address.streetAddress}}</td>
        </tr>
        <tr>
            <td>Postal Code:</td>
            <td>{{contact.address.postalCode}}</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>{{contact.address.city}}</td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>{{contact.address.province}}</td>
        </tr>
        <tr>
            <td>Country:</td>
            <td>{{contact.address.country}}</td>
        </tr>
    </table>

    {% endif %}
</div>

<a href="{{path('contact_list')}}">Return</a>
<a href="{{path('contact_Edit',{'contactId':contact.id}) }}">Edit</a>


{% endblock %}
